/*Estilo Body*/
body{
    background-color: rgb(157, 45, 25);
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px
}



h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 58px;
    padding: 16px;
    margin: 16px;
}

h3 {
    text-align: center;
    text-decoration: underline;

}
p{
    font-size: 18px;
}
h5{
    color: black;
}
h6{
    color: rgb(rgb(88, 88, 88), green, blue);
}
/*HEADER*/
header {
    padding-top: 30px;

}

.navbar-brand{
    font-size: 18px;

}

.img-nav{
    width: 100px;
}

.bi {
    height: 26px;
    width: 26px;
}

.form-control{
    background-color: antiquewhite;
    color: black;
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 12px 30px;
    border-radius: 20px;
    margin: 0px 5px 10px 5px;
}

.form-select{
    background-color: antiquewhite;
    color: black;
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 12px 30px;
    border-radius: 20px;
    margin: 0px 5px 10px 5px;
}

/*FOOTER*/
.footer { 

    color: rgb(0, 0, 0); 
    display: flex; 
    flex-direction: row; 
    padding-top: 100px; 

} 
.img-footer { 

    width: 100px; 

}

button {
    background-color: rgb(129, 134, 139);
    color: black;
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 6px 14px;
    border-radius: 15px;
    
}

button:hover{
    background-color: rgba(85, 85, 85, 0.447);
}

.btn{
    background-color: rgb(129, 134, 139);
    color: black;
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 6px 14px;
    border-radius: 15px;
}
.btn:hover{
    background-color: rgba(85, 85, 85, 0.447);
    color: black;
}

.card-body{
    background-color: rgba(90, 34, 34, 0.323);
    display: inline-block;
    text-decoration: none;
    border: 3px solid;
    padding: 6px 14px;
    border-radius: 5px;
}

.estructura{
    border: 3px solid;
}

.offcanvas{
    background-color: rgb(157, 45, 25);
}

option:disabled {
  color: gray;
  background-color: #f0f0f05e;
}